service firebase.storage {
  match /b/{bucket}/o {
    match /gamestates {
      allow read: if true;
    }
    match /{allPaths=**} {
      allow read, write: if false;
    }
  }
}
