body {
  overflow:hidden;
}

canvas {
  position: absolute;
}

div#mouse {
  position: absolute;
}

video.MovieSpecialCast {
  position: absolute;
}

.fromFade {
  position:absolute;
  left: 0;
  transition: opacity 0.66s ease-in-out;
  opacity: 1;
}

.fader {
  position:absolute;
  left: 0;
  transition: opacity 0.66s ease-in-out;
}

.fadeOut {
  opacity: 0;
}

.fadeIn {
  opacity: 1;
}

.hidden {
  display: none;
}
