.settingsModal {
  position: absolute;
  border-radius: 10px;
  padding: 20px;
  background-color: #444;
  width: 20em;
  height: 10em;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.settingsCloseButton {
  cursor: pointer;
  user-select: none;
  font-weight: bold;
  font-size: 22px;
}
