.title {
  font-size: 14px;
  font-weight: 700;
  line-height: 3;
  text-transform: uppercase;
  letter-spacing: 0.08em;
}

.list {
  display: block;
}

.item {
  cursor: pointer;
}

.link {
  color: #1a1a1a;
  display: inline-block;
  border-bottom: 1px solid transparent;
  transition: border 0.2s ease;
  margin-top: 5px;
}

.link.ative {
  font-weight: bold;
}

.item:hover, .item:focus {

}

.disclosure {
  width: 4px;
  height: 25px;
  border-left: 4px solid #61dafb;
  padding-left: 16px;
  position: absolute;
  left: 0;
  margin-top: -3px;
}
