.select {
  background: rgba(0,0,255,0.8);
  transition: all 1s ease;
}

.left {
  cursor: pointer;
  border-radius: 5px;
  transition: all 500ms ease;
  padding: 5px 5px 5px 10px;
}

.left:hover {
  color: blue;
  text-shadow: 0 0 3px blue;
}
