@import "~bootstrap/scss/bootstrap";

* {
  user-select: none;
  -webkit-user-select: none;
  -webkit-user-callout: none;
  -webkit-touch-callout: none;
}

body {
  overflow: hidden;
}

#root {
  background-color: rgb(0, 0, 0);
  height: 100vh;
}

.game {
  .menu {
    width: 5vw;
    height: 5vw;
    position: absolute;
    cursor: none;
  }
}

canvas {
  position: absolute;
}

div#mouse {
  position: absolute;
}

video.MovieSpecialCast {
  position: absolute;
}

.scene {
  position: absolute;
  left: 0;
}

.main-title {
  position: absolute;
  background-color: rgb(0,0,0);
}

// .request-play
.play-overlay {
  background: url(../image/icon/play.svg) no-repeat center center fixed;
  background-size: contain;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
}

.play-background {
  background: url(../image/texture/title.png) no-repeat center center fixed;
  background-size: contain;
  position: relative;
  width: 100%;
  height: 100%;
  filter: blur(4px);
}

.why-am-i-seeing-this {
  background: url(../image/icon/play.svg) no-repeat center center fixed;
  background-size: contain;
  position: absolute;
  width: 256px;
  height: 256px;
  left: 75%;
  top: 75%;
}

.background {
  width: 100%;
  height: 100%;
  img {
    width: 100%;
    height: 100%;
  }
}

.title {
  position: absolute;
  top: 0;
  left: 0;
}

.fromFade {
  position: absolute;
  left: 0;
  transition: opacity 0.66s ease-in-out;
  opacity: 1;
}

.fader {
  transition: opacity 0.66s ease-in-out;
}

.fadeOut {
  opacity: 0;
}

.fadeIn {
  opacity: 1;
}

.hidden {
  display: none;
}
